<h1>PICTURES (<%= @pictures.length %>)</h1>
<%= link_to 'Back to Pictures', pictures_url%>




<% @pictures.each do |picture|%>
<p><%= picture.title%>, <%= picture.artist%></p>
<%= link_to_image_tag(picture.url), "/picture/#{picture_id}"%>
<%end%>
